<h1><%= @user.username %>'s shoe closet</h1>

<table>
  <tr>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
    <th>When I Bought It</th>
  </tr>
  <!-- hmmm I seem to be forgetting something -->
</table>

<br>
<%= link_to "Add a pair of shoes!", new_user_shoe_path(@user) %>
